@font-face {
    font-family: Ubuntu;
    src: url(assets/fonts/Ubuntu-Regular.ttf) format('truetype');
}
/* You can add global styles to this file, and also import other style files */
* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Ubuntu', 'arial', sans-serif;
}

.lds-dual-ring {
  display: inline-block;
  position: relative;
}
.lds-dual-ring:after {
  content: " ";
  position: absolute;
  top: -25px;
  width: 1rem;
  height: 1rem;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-container  {
  flex: 1;
  position: relative;
  display: flex;
  color: white;
  gap: 0.5rem;
  flex-direction: column;
  padding: 40px 70px;
  border-radius: 40px;
  border: solid 2px rgb(0 0 0 / 0.2);
  background: black;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.modal__header {
  margin-block-end: 1rem;
  text-align: center;
}

